#main{
    background-color: #e8e8e8;
    text-align: center;
    width: 80%;
    border-radius: 20px;
}

p{
    font-size: 20px;
}

.startBtn{
    padding: 12px 48px;

    border: 3px solid orange;
    background-color: white;
    color: orange;
    border-radius: 8px;
}

.startBtn:active, .startBtn:hover{
    background-color: orange;
    color: white
}